/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
}


p {

  border:2px solid black;
  width:90%;
  background-color: gray;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;

}

#chicken span{
	background-color: pink;
}
#beef span{
	background-color: red;
}
#sushi span{
	background-color: yellow;
}
span {
	font-weight: bold;
	border: 2px solid black;
	float:right;

}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;    
    width:33.33%;
  }
 
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;    
    width:50%;
  }
  
}